* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.slider {
    min-height: 30em;
    height: 80vh;
    position: relative;
    background-image: url(../assets/images/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3;
}



.slider-btn {
    position: absolute;
    cursor: pointer;
    width: 50px;
    top: 40%;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.img-fade {
    animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}